<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.system.resource.mapper.AiCountryMapper">

    <resultMap type="AiCountry" id="AiCountryResult">
        <result property="id" column="id"/>
        <result property="cnName" column="cn_name"/>
        <result property="enName" column="en_name"/>
        <result property="countryIcon" column="country_icon"/>
        <result property="areaCode" column="area_code"/>
        <result property="language" column="language"/>
        <result property="localCurrency" column="local_currency"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectAiCountryVo">
        select id,
               cn_name,
               en_name,
               country_icon,
               area_code, language, local_currency, sort, create_by, create_time, update_by, update_time, remark
        from ai_country
    </sql>

    <select id="selectAiCountryList" parameterType="AiCountry" resultMap="AiCountryResult">
        <include refid="selectAiCountryVo"/>
        <where>
            <if test="cnName != null  and cnName != ''">and cn_name like concat('%', #{cnName}, '%')</if>
            <if test="enName != null  and enName != ''">and en_name like concat('%', #{enName}, '%')</if>
            <if test="areaCode != null  and areaCode != ''">and area_code = #{areaCode}</if>
            <if test="localCurrency != null  and localCurrency != ''">and local_currency = #{localCurrency}</if>
        </where>
    </select>

    <select id="selectAiCountryById" parameterType="Long" resultMap="AiCountryResult">
        <include refid="selectAiCountryVo"/>
        where id = #{id}
    </select>

    <select id="checkcnNameUnique" parameterType="String" resultMap="AiCountryResult">
        <include refid="selectAiCountryVo"/>
        where cn_name=#{cnName} limit 1
    </select>

    <insert id="insertAiCountry" parameterType="AiCountry">
        insert into ai_country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cnName != null">cn_name,</if>
            <if test="enName != null">en_name,</if>
            <if test="countryIcon != null">country_icon,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="language != null">language,</if>
            <if test="localCurrency != null">local_currency,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="cnName != null">#{cnName},</if>
            <if test="enName != null">#{enName},</if>
            <if test="countryIcon != null">#{countryIcon},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="language != null">#{language},</if>
            <if test="localCurrency != null">#{localCurrency},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateAiCountry" parameterType="AiCountry">
        update ai_country
        <trim prefix="SET" suffixOverrides=",">
            <if test="cnName != null">cn_name = #{cnName},</if>
            <if test="enName != null">en_name = #{enName},</if>
            <if test="countryIcon != null">country_icon = #{countryIcon},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="language != null">language = #{language},</if>
            <if test="localCurrency != null">local_currency = #{localCurrency},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiCountryById" parameterType="Long">
        delete
        from ai_country
        where id = #{id}
    </delete>

    <delete id="deleteAiCountryByIds" parameterType="String">
        delete from ai_country where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
